body {
	margin: 0;
	background: #fff;
	font-family: Dotum, '돋움', Helvetica, sans-serif;
}

#new_box {
	font-size: 18px;
	width: 83px;
	text-align: center;
	color: #fff;
	margin-top: 30px;
	margin-bottom: 15px;
	border-radius: 30px;
	background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.wrapper {
	position: relative;
	height: 100%;
	margin-bottom: 780px;
}

#inner_join {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	margin-top: 50px;
	
}

/* 입력폼 */
.join {
	margin: 19px 0 8px;
	font-size: 14px;
	font-weight: 700;
}

.box {
	display: block;
	width: 100%;
	height: 51px;
	border: solid 2px #87CEFA;
	border-radius: 5px;
	padding: 10px 14px 10px 14px;
	box-sizing: border-box;
	background: #fff;
	position: relative;
}

.address1 {
	display: block;
	height: 51px;
	position: relative;
	margin-bottom: 10px;
}

.id {
	display: block;
	
	position: relative;
	margin-bottom: 10px;
}
.box1 {
	display: block;
	width: 35%;
	height: 51px;
	border: solid 2px #87CEFA;
	border-radius: 5px;
	padding: 10px 14px 10px 14px;
	box-sizing: border-box;
	background: #fff;
	position: relative;
	float: left;
	margin-bottom: 10px;
}

.box2 {
	display: block;
	width: 100%;
	height: 51px;
	border: solid 2px #87CEFA;
	border-radius: 5px;
	padding: 10px 14px 10px 14px;
	box-sizing: border-box;
	background: #fff;
	position: relative;
	margin-bottom: 10px;
}

.box3 {
	display: block;
	width: 100%;
	height: 51px;
	border: solid 2px #87CEFA;
	border-radius: 5px;
	padding: 10px 14px 10px 14px;
	box-sizing: border-box;
	background: #fff;
	position: relative;
	float: left;
	margin-bottom: 30px;
}

.box4 {
	display: block;
	width: 71%;
	height: 51px;
	border: solid 2px #87CEFA;
	border-radius: 5px;
	padding: 10px 14px 10px 14px;
	box-sizing: border-box;
	background: #fff;
	position: relative;
	float: left;
	margin-bottom: 20px;
}

.new {
	display: block;
	position: relative;
	width: 100%;
	height: 29px;
	border: none;
	background: #fff;
	font-size: 15px;
}

.new_1 {
	display: block;
	position: relative;
	width: 100%;
	height: 29px;
	border: none;
	background: #fff;
	font-size: 15px;
	text-align: center;
}

.box.user_id {
	padding-right: 110px;
}

.box.new_pass {
	padding-right: 40px;
}

.box.new_pass_check {
	padding-right: 40px;
}

.step_url {
	position: absolute;
	top: 16px;
	right: 13px;
	font-size: 15px;
	color: #8e8e8e;
}

.user_pw_img {
	width: 18px;
	height: 20px;
	display: inline-block;
	position: absolute;
	top: 50%;
	right: 16px;
	margin-top: -10px;
	cursor: pointer;
}

select {
	width: 100%;
	height: 29px;
	font-size: 15px;
	background: #fff
		url(../img/login_new_check.gif) 100%
		50% no-repeat;
	background-size: 20px 8px;
	-webkit-appearance: none;
	display: inline-block;
	text-align: start;
	border: none;
	cursor: default;
	font-family: Dotum, '돋움', Helvetica, sans-serif;
}

/* 에러메세지 */
.error_next_box {
	margin-top: 9px;
	font-size: 12px;
	color: red;
	display: none;
}

#alertTxt {
	position: absolute;
	top: 19px;
	right: 38px;
	font-size: 12px;
	color: red;
	display: none;
}

/* 버튼 */
.btn_area {
	margin: 30px 0 91px;
}

#btnJoin {
	width: 100%;
	padding: 21px 0 17px;
	border: 0;
	cursor: pointer;
	color: #fff;
	background-color: #428bca;
	border-radius: 4px;
	font-size: 20px;
	font-weight: 400;
	font-family: Dotum, '돋움', Helvetica, sans-serif;
	transition: all 0.5s;
}

#btnJoin:hover{
	transition: all 0.5s;
}

#btnJoin:hover,
#btnJoin:focus {
    background-color: #429bca;
    background-position: 0 -15px
}

.click {
	margin-top: 10px;
	margin-bottom: 30px;
	float: right;
}