* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	display: flex;
	margin: 0;
	background-color: #b0cfed;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}



.wrap {
	margin: auto;
}

.wrap .logo {
	text-align: center;
	margin-bottom: 10px;
	margin: 20px;
}

.wrap .logo img {
	display: block;
	margin: auto;
	width: 163.99px;
	height: 38px;
}

.wrap .contents {
	padding: 50px;
	background-color: #ffffff;
	border: 1px solid #dadada;
	border-radius: 5px;
	box-shadow: 0 4px 6px #32325D, 0 1px 3px rgba(0, 0, 0, 0.08);
}

#form_wrap {
	margin: 0 auto;
	width: 460px;
	font-size: 14px;
}

#form_wrap .terms_check_all {
	display: flex;
	margin-bottom: 35px;
}

#form_wrap .terms_check_all label {
	margin-left: 3px;
	text-decoration: underline;
}

.terms_list .terms_box {
	margin: 20px 0;
}

.contents label {
	font-weight: 700;
}

label.required::after {
	margin-left: 4px;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	color: #18a0fb;
	content: "(필수)";
}

.terms_list .terms_content {
	height: 88px;
	overflow: auto;
	margin-top: 8px;
	padding: 12px;
	border: 1px solid #dadada;
	background: #f7f7f7;
	font-size: 12px;
}

.next-button {
	width: 100%;
	height: 40px;
	outline: none;
	cursor: pointer;
	background-color: #428bca;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	transition-duration: 0.2s;
	transition: all 0.5s;
}

.next-button:hover:enabled {
	background-color: #a3a2a2;
}

.next-button:disabled {
	opacity: 0.2;
	cursor: not-allowed;
} 

@media ( max-width : 768px) {
	.wrap {
		min-width: 280px;
		padding: 20px;
	}
	#form_wrap {
		max-width: 460px;
		width: auto;
	}
}