html, body { padding: 0; margin: 0; }

#input_start_box input { width: 100%; }
#input_end_box input { width: 100%; }

input:focus-visible { outline: 1px auto #428bca; }

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #428bca;
}
.well { margin-bottom: 0 !important; }

.btn_change, .btn_search { color: #fff; }

.trans_main_box { padding: 0; margin: 0 auto; }
.row { margin: 0 !important;}
.trans_main_box .col-md-9, .trans_main_box .col-md-3 { padding-left: 0 !important; padding-right: 0 !important;}

#trans ul { padding: 0; }

/** 출도착지 검색 결과 리스트 영역 */
#placesList li {list-style: none;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 55px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#009900;}
#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}

/** 페이지 번호 */
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}	

/** 길찾기 검색 결과 리스트 영역 */
#placesList .search_item {position:relative; border-bottom:1px solid #888; overflow: hidden; cursor: pointer; min-height: 65px;}
#placesList .search_item span { display: inline-block; margin-top:4px; padding: 5px; }
#placesList .search_item .title { text-align: center; }
#placesList .search_item .info span { padding: 10px 0 10px 10px; }
#placesList .search_item .info .end_station { padding-left: 40px; }
#placesList .search_item .info img { width: 25px; height: 25px; margin-bottom: 5px; }
#placesList .search_item .info .trans_icon { margin: 0; }
#placesList .search_item .info .transType { float: right; font-weight: bold; font-size: 15px; color: #555; padding-right: 10px; }

#placesList .search_item .info .re_area:after { float: none; content: ''; display: block; clear: both; }

.toTime { font-size: 17px; color: #428bca; }
.transit { font-size: 17px; }
.toDis { font-size: 17px; }
.payment { font-size: 17px; font-weight: bold; color: #fc0800; }
.station { font-weight: bold; font-size: 15px; color: #555; }


